.slider-wrapper {
  width: 100%;
  position: fixed;
  right: 0;
  top: 0;
  left: 0;
  z-index: 1030;
  height: 60px;
  background-color: #f8f9f9;
}
.slider-container {
  width: 50%;
  margin-top: 20px;
  margin-left: 25%;
}
